name: Format PR
on: issue_comment
permissions:
  contents: write
  issues: write
jobs:
  pr_commented:
    # This job only runs for pull request comments
    name: PR comment
    if: github.event.issue.pull_request && startsWith(github.event.comment.body, '/format')
    runs-on: ubuntu-latest
    container: wpilib/roborio-cross-ubuntu:2024-22.04
    steps:
      - name: Set up GitHub CLI
        shell: bash
        run: |
          sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 16FAAD7AF99A65E2
          sudo apt update


          (type -p wget >/dev/null || (sudo apt update && sudo apt install wget -y)) \
            && sudo mkdir -p -m 755 /etc/apt/keyrings \
            && out=$(mktemp) && wget -nv -O$out https://cli.github.com/packages/githubcli-archive-keyring.gpg \
            && cat $out | sudo tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null \
            && sudo chmod go+r /etc/apt/keyrings/githubcli-archive-keyring.gpg \
            && sudo mkdir -p -m 755 /etc/apt/sources.list.d \
            && echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null \
            && sudo apt update \
            && sudo apt install gh -y
      - name: Add comment
        run: gh pr comment "${{ github.event.issue.number }}" --body "Beginning Formatting!"
        env:
          GH_TOKEN: ${{ secrets.COMMENT_TOKEN }}
          GH_REPO: ${{ github.repository }}
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Change Branch
        run: |
          git config --global --add safe.directory /__w/${{github.event.repository.name}}/${{github.event.repository.name}}
          gh pr checkout ${{github.event.issue.number}}
        env:
          GH_TOKEN: ${{ secrets.COMMENT_TOKEN }}
          GH_REPO: ${{ github.repository }}
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
      - name: Add repository to git safe directories
        run: git config --global --add safe.directory $GITHUB_WORKSPACE
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Check Spotless
        id: spotlessCheck
        continue-on-error: true
        run: ./gradlew spotlessCheck
      - name: Apply and Commit Linted File
        if: ${{ steps.spotlessCheck.outcome == 'failure' }}
        run: |
          ./gradlew spotlessApply
          git config --global user.name "$(git log -1 --pretty=format:'%an')"
          git config --global user.email "$(git log -1 --pretty=format:'%ae')"
          git commit -am "Automated Spotless Apply"
          git push
      - name: Add comment
        run: gh pr comment "${{ github.event.issue.number }}" --body "PR Formatted!"
        env:
          GH_TOKEN: ${{ secrets.COMMENT_TOKEN }}
          GH_REPO: ${{ github.repository }}